
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br/>
<h4>Yeni Deneyim Ekleme Sayfası</h4>
<br/>
<form class="form-group" method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="Altbaslik" class="form-control" placeholder="Açıklama" />
    <br />
    <input type="text" name="Tarih" class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <input type="text" name="Açıklama" class="form-control" placeholder="Açıklama yazınız" />
    <br />
    <button class="btn btn-danger">KAYDET</button>
</form>

