
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form class="form-group" method="post">
    <input type="text" name="KullanıciAdı" class="form-control" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" name="Sifre" class="form-control" placeholder="Sifre" />
    <br />
    <button class="btn btn-danger">KAYDET</button>
</form>

